<h2>Create Celebrity</h2>

<form method="POST">
<label for="input-name"></label>
<input type="text" id="input-name" name="name" placeholder ="Name" required/>

<label for="input-occupation"></label>
<input type="text" id="input-occupation" name="occupation" placeholder ="Occupation"/>

<label for="input-catchphrase"></label>
<input type="text" id="input-catchphrase" name="catchphrase" placeholder ="Catch Phrase"/>

<button>Submit</button>

</form>