<h2>Edit Celebrity Info</h2>

<form method= "POST" action="/celebrities/{{_id}}">

<label for="input-name">Name</label>
<input type="text" id="input-name"  name = "name" placeholder ="Name" required value="{{name}}">

<label for="input-occupation">Occupation</label>
<input type="text" id="input-occupation"  name = "occupation" placeholder ="Occupation" required value="{{occupation}}">

<label for="input-catchphrase">Catch Phrase</label>
<input type="text" id="input-catchphrase"  name = "catchPhrase" placeholder ="Catch Phrase" required value="{{catchPhrase}}">


<button>Submit</button>

</form>