<h2>Celebrity List</h2>

{{#each celebrities }}
<h4>Name: {{name}}</h4>
<a href="/celebrities/{{_id}}">Celebrity Details</a>
{{!--<a href="/create/{{_id}}">Celebrity Details</a> to be changed back--}}
<form method= "POST" action="/celebrities/{{_id}}/delete">
<button>Delete</button>
</form>
{{/each}}


{{!--<div>
<a href="/celebrities/create">Create a new celebrity</a>
</div>--}}

<form action="/celebrities/create">
    <button>Create a new celebrity</button>
</form>

